
nav{
	float: right;
	background-color:black;
	width: 95%;
}
.caca{
	margin-left: 20%;
}
body{
	font-family: 'Roboto';
	color:white;
	margin: 0; 
    padding: 0;
    background-color: black;
    font-size:15px;
}
header{
	background-color: #3d3635 ;
	margin:0px;
}
li{
	float: left;
	padding: 35px;
    list-style: none;
    margin-top:-25px;
}
a{
	color:white;
	text-decoration: none;
}
ul{
	margin:0px;
	border:0px;
}
li.Buscar{
	margin-top:-30px;
}
li.Log{
	margin-top:-30px;
}
table{
   padding: 35px;
   font-family: 'roboto';
   width: 100%;
   font-size:10px;
   margin-right: 100px;

}	
footer{
	   background-color: #F0F0F0  ;
}
p{
	font-family: 'roboto';
	font-size:11px;
	color:#b0a6a4 ;
}
td{
	color:#b0a6a4;
    text-align: center;}
hr{
	margin-right: 140px;
	margin-left:155px;
	color:#b0a6a4;
}
th{
	color:black;
}

 